<div class="dash-bg"></div>
<main class="dashboard">
  <nav class="profile-menu">
    <a class="brand" href="/"><h3>Plastic</h3></a>
    <ul>
      <li class="active"><a href="#">Overview</a></li>
      <li><a href="#">Checkouts</a></li>
      <li><a href="#">Invoices</a></li>
    </ul>
  </nav>
  <div class="info">

    <section class="recent-info">
      <div class="recent-payments">
        <h2>Recent Payments</h2>
        <table class="table table-responsive">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
      </div>

    </section>

    <section class="quick-look">
      <div class="third transactions">
        <h4>Transactions</h4>
        <h2>14<h2>
      </div>
      <div class="third checkouts">
        <h4>Customers</h4>
        <h2>15</h2>
      </div>
      <div class="third income">
        <h4>Income</h4>
        <h2>$1340<h2>
      </div>
    </section>

  </div>
</main>
