<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p><small>&copy; 2013 <%= site_title %></small></p>
      </div>
      <div class="col-sm-6">
        <p class="pull-right">
          <small><a href="/rss.xml" title="<%= site_title %> RSS feed">RSS feed</a>
        </p>
      </div>
    </div>
  </div>
</footer>
